.container {
    padding: 20px;
    background-color: #f1f1f1;
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
}

.inputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    margin-right: 10px;
    font-size: 1em;
}

.button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #005bb5;
}

.tabs {
    width: 100%;
}

.tabsList {
    display: flex;
    margin-bottom: 20px;
}

.tabHeader {
    display: flex;
}

.tabTitle {
    font-size: 1.5em;
    margin-top: 3px;
    margin-left: 10px;
}

.tabTrigger {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.tabTrigger[aria-selected="true"] {
    background-color: #0070f3;
    color: white;
}

.editIcon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    cursor: pointer;
    margin-top: 12px;
}

.tabsContent {
    padding: 20px;
}

.reloadIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: auto;
}

.newItems {
    color: green;
    margin-bottom: 10px;
    border: 1px solid green;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-bottom: 32px; /* Add padding to the bottom to make space for shopInfo and priceText */
    margin-top: 10px;
    cursor: pointer;
    position: relative;
}

.product .largeImage {
    width: 100%;
    height: auto;
    align-self: center;
}

.productName {
    font-size: 0.8em;
    margin-top: 10px;
    word-spacing: 0.1px;
    font-weight: bold;
}

.product .smallImage {
    width: 20px;
    height: 20px;
    border-radius: 99px;
}

.shopInfo {
    display: flex;
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    font-size: 0.7em;
    justify-content: center;
    align-items: center;
}

.shopInfo img {
    margin-right: 8px;
}

.grid {
    display: grid;
    gap: 16px;
}

.priceText {
    font-size: 0.8em;
    font-weight: bold;
    bottom: 0px;
    color: #fe5b66;
    position: absolute;
}

@media (max-width: 720px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 721px) and (max-width: 920px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 921px) and (max-width: 1120px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1121px) and (max-width: 1320px) {
    .grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1321px) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
    }
}
