.container {
    padding: 20px;
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
}

.inputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    margin-right: 10px;
    font-size: 1em;
}

.button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #005bb5;
}

.tabs {
    width: 100%;
}

.tabsList {
    display: flex;
    margin-bottom: 20px;
}

.tabTrigger {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.tabTrigger[aria-selected="true"] {
    background-color: #0070f3;
    color: white;
}

.tabsContent {
    padding: 20px;
    border: 1px solid #ddd;
}

.tabTitle {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.newItems {
    color: green;
    margin-bottom: 10px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 16px;
    border: 1px solid #ddd; /* Adjust the border style as needed */
    border-radius: 8px; /* Optional: to round the corners */
}

.product .largeImage {
    width: 90%;
    height: auto; /* Maintain aspect ratio */
}

.product .smallImage {
    width: 20px;
    height: auto; /* Maintain aspect ratio */
    border-radius: 99px;
}

.shopInfo {
    display: flex;
}

.shopInfo img {
    margin-right: 8px; /* Space between image and shop name */
}

.grid {
    display: grid;
    gap: 16px; /* Adjust the gap as needed */
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for small screens */
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(
            3,
            1fr
        ); /* 3 columns for medium screens */
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(
            4,
            1fr
        ); /* 4 columns for larger screens */
    }
}

@media (min-width: 1201px) {
    .grid {
        grid-template-columns: repeat(
            6,
            1fr
        ); /* 6 columns for very large screens */
    }
}
