.container {
    padding-left: 8%;
    padding-right: 8%;
}

.mainContent {
    margin-bottom: 20px;
}

.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: white;
    transform: translateX(100%);
    /* Initially off-screen */
}

.sidebar.open {
    transform: translateX(0);
    /* Slide sidebar into view */
}

.sidebar.closed {
    transform: translateX(100%);
    /* Slide sidebar off-screen */
}

.title {
    font-size: 1.2em;
    align-items: center;
    justify-self: center;
    margin-right: 0px;
    margin-top: 5px;
}

.noTabs {
    margin-top: 20px;
    margin-bottom: 340px;
}

.inputContainer {
    margin-top: 5px;
    display: flex;
    align-items: center;
    border: 1px solid #d8dbdd;
    border-radius: 5px;
    height: 40px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d8dbdd;
    margin-top: 20px;
    padding-bottom: 20px;
    border-radius:;
}

.plusIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    align-self: center;
    padding-bottom: 2px;
}

.input {
    padding: 10px;
    font-size: 1em;
    background-color: transparent;
    width: 30vw;
    min-width: 100px;
    border: none;
    border-radius: 4px 0px 0px 4px;
}

.button {
    background-color: transparent;
    border: none;
    border-left: 1px solid #d8dbdd;
    border-radius: 0px 4px 4px 0px;
    padding: 8px 12px;
    cursor: pointer;
    padding-top: 10px;
}

.button:hover {
    background-color: #d8dbdd;
}

.gearIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    align-self: center;
    margin-left: auto;
}

.tabs {
    width: 100%;
    height: 70%;
    border-radius: 5px;
}

.tabsList {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    height: 100%;
    justify-content: left;
}

.tabHeader {
    display: flex;
    padding-top: 20px;
}

.tabTitle {
    font-size: 1.2em;
    margin-top: 3px;
    font-weight: 900;
    margin-left: 2px;
    margin-bottom: 12px;
}

.tabTrigger {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #d8dbdd;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.tabTrigger[aria-selected="true"] {
    background-color: #252f3d;
    color: white;
}

.editIcon {
    width: 20px;
    height: 20px;
    margin-left: 4px;
    cursor: pointer;
    margin-top: 9px;
}

.editInput {
    border: none;
    background-color: transparent;
    width: auto;
    font-size: 1.2em;
    margin-top: 3px;
    margin-bottom: 12px;
    font-weight: normal;
    color: gray;
}

.editInput:focus {
    outline: none;
}

.reloadIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 9px;
    margin-left: auto;
}

.newItems {
    color: green;
    margin-bottom: 10px;
    margin-left: 5px;
}

.loadText {
    color: green;
    margin-bottom: 30px;
    margin-left: 5px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-bottom: 50px;
    margin-top: 10px;
    position: relative;
}

.newBadge {
    position: absolute;
    bottom: 5px;
    right: 0px;
    color: red;
    font-size: 0.8em;
    border: 1px solid red;
    border-radius: 10px;
    padding: 0px 10px;
}
.newBadgeAbout {
    bottom: 5px;
    right: 0px;
    color: red;
    font-size: 0.8em;
    border: 1px solid red;
    border-radius: 10px;
    padding: 0px 10px;
}

.product .largeImage {
    width: 100%;
    height: auto;
    align-self: center;
    cursor: pointer;
}

.productName {
    font-size: 0.8em;
    margin-top: 10px;
    word-spacing: 0.1px;
    font-weight: 100 important !;
    cursor: default;
}

.product .smallImage {
    width: 20px;
    height: 20px;
    border-radius: 99px;
}

.shopInfo {
    display: flex;
    position: absolute;
    bottom: 25px;
    font-size: 0.7em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 100;
    white-space: nowrap;
}

.shopInfo img {
    margin-right: 8px;
    cursor: pointer;
}

.grid {
    display: grid;
    gap: 16px;
}

.priceText {
    font-size: 0.85em;
    font-weight: bold;
    bottom: 0px;
    color: #fe5b66;
    position: absolute;
    cursor: default;
}

.link {
    color: #1b72e8;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contentContact {
    margin-bottom: 320px;
}

.supporters {
    border-top: 1px solid #d8dbdd;
    padding-top: 20px;
}

/* Controls the number of products displayed dependent on the width of the screen */

@media (max-width: 720px) {
    .grid {
        grid-template-columns: 44vw 44vw;
    }
    .container {
        padding-left: 4%;
        padding-right: 4%;
    }
}

@media (min-width: 721px) and (max-width: 920px) {
    .grid {
        grid-template-columns: 27vw 27vw 27vw;
    }
}

@media (min-width: 921px) and (max-width: 1120px) {
    .grid {
        grid-template-columns: 20vw 20vw 20vw 20vw;
    }
}

@media (min-width: 1121px) and (max-width: 1320px) {
    .grid {
        grid-template-columns: 16vw 16vw 16vw 16vw 16vw;
    }
}

@media (min-width: 1321px) {
    .grid {
        grid-template-columns: 13vw 13vw 13vw 13vw 13vw 13vw;
    }
}
