/* Base styles for all dialogs */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
    border-radius: 5px;
    z-index: 1000;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    display: none;
    /* Initially hidden */
}

.popup-overlay.active {
    display: block;
    /* Show the overlay when active */
}

.closeIcon {
    position: absolute;
    top: 20px;
    right: 14px;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.popup-title {
    font-size: 1.2rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-bottom: 2px;
    cursor: default;
}

.popup-content {
    color: gray;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 10px;
    cursor: default;
}

.subtitle {
    margin-bottom: 10px;
}

.popup-input {
    margin-top: 20px;
    padding: 8px;
    font-size: 1em;
    background-color: transparent;
    width: 380px;
    border: 1px solid #d8dbdd;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Flexbox utility classes for centering content */
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-button {
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 9px;
    cursor: pointer;
    background-color: #d8dbdd;
}

.popup-button-alert {
    width: 100%;
    border-radius: 5px;
    background-color: #dc2625;
    color: white;
    border: none;
    padding: 9px;
    cursor: pointer;
}

.exportcontent {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
}

.exportdata {
    padding: 8px;
    font-size: 1em;
    background-color: transparent;
    width: 330px;
    height: 40px;
    border: 1px solid #d8dbdd;
    border-radius: 4px;
}

.copyIcon {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 15px;
    height: 15px;
}

.exportbutton {
    border-radius: 5px;
    background-color: #d8dbdd;
    border: none;
    padding: 5px 12px;
    margin-left: 10px;
    cursor: pointer;
}
